<html>

<head>
    <title>Junos SD Enrichment Form</title>
    <script src="/js/enrichment.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body style="margin:4px;padding:4px">
    This page allows you to make changes to the fields automatically pulled from logs.
    <hr />

    <input type="checkbox" id="recommended" value="recommended" onchange="useRecommended()">
    <label for="recommended">Use recommended values?</label>

    <form>
        <table style="width:500px">
            <tr>
                <td>
                    <label for="sourceaddr">Source address</label>
                </td>
                <td>
                    <select id="sourceaddr" onchange="onChangeSrcAddr()">
                        <option value='{{ srcaddr }}'>{{srcaddr}}</option>
                        <option id="src_subnet" value='{{ srcsubnet }}'>{{srcsubnet}}</option>
                        <input type="number" placeholder="CIDR" style="width:50px" id="src_cidr" disabled min="8"
                            max="32">
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sourceport">Source port</label>
                </td>
                <td>
                    <select id="sourceport" onchange="onChangeSrcPort()">
                        <option value='{{ srcport }}'>{{srcport}}</option>
                        <option id="srcport_any" value='any'>any</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sourceaddr">Destination address</label>
                </td>
                <td>
                    <select id="destaddr" onchange="onChangeDestAddr()">
                        <option value='{{ destaddr }}'>{{destaddr}}</option>
                        <option id="dest_subnet" value='{{ destsubnet }}'>{{destsubnet}}</option>
                        <input type="number" placeholder="CIDR" style="width:50px" id="dest_cidr" disabled min="8"
                            max="32">
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="destport">Destination port</label>
                </td>
                <td>
                    <select id="destport" onchange="onChangeDestPort()">
                        <option value='{{ destport }}'>{{destport}}</option>
                        <option id="destport_any" value='any'>any</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="srczone">Source zone</label>
                </td>
                <td>
                    <select id="srczone" onchange="onChangeSrcZone()">
                        <option value='{{ srczone }}'>{{srczone}}</option>
                        <option id="srczone_any" value='any'>any</option>
                        <option id="srczone_trust" value='trust'>trust</option>
                        <option id="srczone_untrust" value='untrust'>untrust</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="destzone">Destination zone</label>
                </td>
                <td>
                    <select id="destzone" onchange="onChangeDestZone()">
                        <option value='{{ destzone }}'>{{destzone}}</option>
                        <option id="destzone_any" value='any'>any</option>
                        <option id="srczone_trust" value='trust'>trust</option>
                        <option id="srczone_untrust" value='untrust'>untrust</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="username">Username</label>
                </td>
                <td>
                    <select id="username" onchange="onChangeUsername()">
                        <option value='{{ username }}'>{{username}}</option>
                        <option id="username_group" value='group'>group</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="application">Application</label>
                </td>
                <td>
                    <select id="application" onchange="onChangeApplication()">
                        <option value='{{ application }}'>{{application}}</option>
                        <option id="application_any" value='any'>any</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="policy_name">Policy Name</label>
                </td>
                <td>
                    <input type="text" placeholder="ZTN_ELK_POLICY_12345">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="policy_name">Rule Name</label>
                </td>
                <td>
                    <input type="text" placeholder="ZTN_ELK_RULE_12345">
                </td>
            </tr>
        </table>
    </form>

</body>

</html>