<html>

<head>
    <title>Junos SD Enrichment Form</title>
    <script src="/js/enrichment.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    This page allows you to make changes to the fields automatically pulled from logs.
    <hr />

    <input type="checkbox" id="recommended" value="recommended" onchange="useRecommended()">
    <label for="recommended">Use recommended values?</label>

    <form>
        <label for="sourceaddr">Source address</label>
        <select id="sourceaddr" onchange="onChangeSrcAddr()">
            <option value='{{ srcaddr }}'>{{srcaddr}}</option>
            <option id="src_subnet" value='{{ srcsubnet }}'>{{srcsubnet}}</option>
            <input type="text" placeholder="CIDR" style="width:50px" id="src_cidr" disabled>
        </select>
        <br />

        <label for="sourceport">Source port</label>
        <select id="sourceport" onchange="onChangeSrcPort()">
            <option value='{{ srcport }}'>{{srcport}}</option>
            <option id="srcport_any" value='any'>any</option>
        </select>
        <br />

        <label for="sourceaddr">Destination address</label>
        <select id="destaddr" onchange="onChangeDestAddr()">
            <option value='{{ destaddr }}'>{{destaddr}}</option>
            <option id="dest_subnet" value='{{ destsubnet }}'>{{destsubnet}}</option>
            <input type="text" placeholder="CIDR" style="width:50px" id="src_cidr" disabled>
        </select>
        <br />

        <label for="destport">Destination port</label>
        <select id="destport" onchange="onChangeDestPort()">
            <option value='{{ destport }}'>{{destport}}</option>
            <option id="destport_any" value='any'>any</option>
        </select>
        <br />

        <label for="srczone">Source zone</label>
        <select id="srczone" onchange="onChangeSrcZone()">
            <option value='{{ srczone }}'>{{srczone}}</option>
            <option id="srczone_any" value='any'>any</option>
        </select>
        <br />

        <label for="destzone">Destination zone</label>
        <select id="destzone" onchange="onChangeDestZone()">
            <option value='{{ destzone }}'>{{destzone}}</option>
            <option id="destzone_any" value='any'>any</option>
        </select>
        <br />

        <label for="username">Username</label>
        <select id="username" onchange="onChangeUsername()">
            <option value='{{ username }}'>{{username}}</option>
            <option id="username_group" value='group'>group</option>
        </select>
        <br />

        <label for="application">Application</label>
        <select id="application" onchange="onChangeApplication()">
            <option value='{{ application }}'>{{application}}</option>
            <option id="application_any" value='any'>any</option>
        </select>
        <br />

    </form>

</body>

</html>