<html>

<head>
    <title>Junos Space Security Director Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body style="margin:4px;padding:4px;">
    Please confirm the security policy and rule that will be sent to Junos Space Security Director.
    <hr />

    <table style="width:300px">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Source Address</td>
            <td>{{ srcaddr }}</td>
        </tr>
        <tr>
            <td>Source Port</td>
            <td>{{ srcport }}</td>
        </tr>
        <tr>
            <td>Destination Address</td>
            <td>{{ destaddr }}</td>
        </tr>
        <tr>
            <td>Destination Port</td>
            <td>{{ destport }}</td>
        </tr>
        <tr>
            <td>Service name</td>
            <td>{{ servicename }}</td>
        </tr>
        <tr>
            <td>Application</td>
            <td>{{ application }}</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{ username }}</td>
        </tr>
        <tr>
            <td>Source zone</td>
            <td>{{ srczone }}</td>
        </tr>
        <tr>
            <td>Destination zone</td>
            <td>{{ destzone }}</td>
        </tr>
    </table>

    <div>
        <form method="post" action="/?{{ qs }}">
            <button type="submit">Confirm</button>
        </form>
        <form method="post" action="/enrichment?{{ qs }}">
            <button>Display enrichments</button>
        </form>
    </div>

    The confirm button will create a policy, rule, and all related objects. To change or modify any of these, please
    click 'Display enrichments'.
    The default naming policy for all objects follow the format: 'ZTN_ELK_[object_name]_[random_id]'. For example, a new
    policy object created might have the name 'ZTN_ELK_ADDR_12345'.


</body>

</html>