<html>

<head>
    <title>Junos Space Security Director Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body style="margin:4px;padding:4px;">
    The policy form has been submitted, you can close this page.
    <br/>To review the policy, please visit your Junos Space Security Director at <a href="{{ sd_url }}">{{ sd_url }}</a>
</body>
</html>